<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="./bootstrap-4.3.1-dist/css/bootstrap.css">
   <script src="./vue.js"></script>
   <style>
      * {
         box-sizing: border-box;
         overflow: hidden;
      }

      .map {
         position: relative;
      }

      .grid {
         min-width: 20px;
         height: 20px;
         position: relative;
         border-width: 1px;
         border-style: solid
      }

      .gridNo {
         text-align: center;
         background-color: white;
         font-size: 10px;
      }

      .block {
         background-color: rgb(206, 105, 74);
         border-width: 1px;
         border-style: solid
      }

      #roomba {
         position: absolute;
         height: 18px;
         width: 18px;
         border-radius: 50%;
         background-color: burlywood;
         z-index: 1;
         transition: all 0.02s linear
      }

      .grid:hover,
      #roomba:hover,
         {
         cursor: pointer;
         opacity: 0.8
      }

      #roomba::after {
         content: '\22c6';
         line-height: 9px;
         font-size: 20px;
         color: red;
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%)
      }

      .dir_top {
         transform: rotate(0deg);
      }

      .dir_bottom {
         transform: rotate(180deg);
      }

      .dir_left {
         transform: rotate(-90deg);
      }

      .dir_right {
         transform: rotate(90deg);
      }

      .editPanel {
         text-align: center
      }

      .modeBtn {
         background-color: greenyellow;
         border-radius: 5px;
         border-bottom: 4px solid lightgray;
      }

      .modeBtn:focus {
         outline: none;
      }

      .modeBtn:hover {
         cursor: pointer;
         transform: translateY(2px)
      }

      .editOptions {
         padding-top: 30px;
      }

      .clearBtn {
         transform: translateY(-17px);
         border-radius: 4px;
      }

      label {
         margin-left: 20px;
      }

      input[type=number] {
         width: 50px;
      }
   </style>
</head>

<body>
   <div id="roomMap">
      <table class="table-secondary map">
         <tr v-for="y in dimension.height+1">
            <td v-for="x in dimension.width+1" v-bind:class="gridClass(x-1,y-1)"
               v-bind:style="cleanedGridStyle(x-1,y-1)" v-on:mousemove.prevent="toggleBlock()"
               v-bind:id=gridKey(x-1,y-1)>
               <!-- 减去1是为了使得输入方程的数字能从0开始 -->
               {{gridContent(x-1,y-1)}}
            </td>
         </tr>
         <roomBa v-bind:robot='robot' v-bind:map='map' v-bind:mode='mode' v-show:mode='mode == "running"'
            v-on:forward="forward()" v-on:turn="turn($event)" v-on:detect="detected($event)"
            v-bind:style='robotPosOnRender'></roomBa>
      </table><br>
      <div class='editPanel'>
         <button v-on:click="toggleMode" class="modeBtn">{{mode == 'running'?'editing':'running'}}</button>
         <div v-if="mode == 'editing'" class='editOptions'>
            <button v-on:click="cleanAllPos()" class='clearBtn'>clearAll</button>
            <label>length:
               <input type="number" v-model.lazy.number.trim='dimension.width'>
            </label>
            <label>width:
               <input type="number" v-model.lazy.number.trim='dimension.height'>
            </label>
         </div>
      </div>
   </div>
</body>
<script>
   Vue.component('roomba', {
      props: {
         robot: Object,
         map: Array,
         mode: String
      },
      data: function () {
         return {
            moveSpeed: 20,
         }
      },
      template: `
        <div id='roomba' 
             v-on:click="run" 
             v-bind:class = "directionClass">
        </div>`,
      computed: {
         //不同方向时小车返回不同的CSS Class
         directionClass: function () {
            switch (this.robot.dir) {
               case 0:
                  return 'dir_top'
                  break;
               case 1:
                  return 'dir_left'
                  break;
               case 2:
                  return 'dir_bottom'
                  break;
               case 3:
                  return 'dir_right'
                  break;
            }
         },
         //使用穷举找出最佳路径
         tasks: function () {
            //基础mapProps设置
            let mapArray = this.map;
            let robotIndex = { xIndex: this.robot.pos.x - 1, yIndex: this.robot.pos.y - 1 };
            let robotDir = this.robot.dir;
            let mapProps = { mapArray, robotIndex, robotDir }

            //初始化solutions
            let bestSolutionCount = this.countUnCleanedGrid(mapArray)
            let solutions = [{ actionList: [], props: mapProps ,count:bestSolutionCount}]
            let currentBestSolution = solutions[0];

            //基础行为集合
            let actions = ['turnLeft', 'turnRight',
               'fullBackAndForthMovementLeft', 'fullBackAndForthMovementRight',]
            
            for (let i = 0; i < solutions.length; i++) {
               let { actionList, props } = solutions[i]
               for (let action of actions) {
                  //消除一些无意义的行为
                  if (action != 'turnLeft' && action != 'turnRight' && action == actionList.slice(-1)) continue;
                  if(action == 'turnLeft' && actionList.slice(-1) == 'turnRight') continue;
                  if (action == 'turnRight' && actionList.slice(-1) == 'turnLeft') continue;

                  //执行action
                  let newMapProps = this.mapTest(props, action);
                  let count = this.countUnCleanedGrid(newMapProps.mapArray)
                  let solution = { actionList: actionList.concat(action), props: newMapProps,count:count }

                  //测试是否全部扫完
                  if (count == 0) {
                     return solution.actionList;
                  }else if(count < bestSolutionCount){
                     bestSolutionCount = count;
                     currentBestSolution = solution;
                  }

                  
                  //push solution
                  solutions.push(solution)
                  
                  //如果计算量过大，就停止执行
                  if (solutions.length > 20000) {
                     console.log('hard to find a perfect solution');
                     console.log('return the best solution found currently');
                     console.log(currentBestSolution);
                     
                     return bestSolutionCount.actionList
                     
                     
                  }
               }
            }
         },
      },
      methods: {
         countUnCleanedGrid(map,solution) {
            return map.reduce((total,current)=>{
               return total + current.reduce((sum,each)=>{
                  let unCleanedGrid = each == '.'?1:0;
                  return sum+unCleanedGrid
               },0)
            },0)

         },
         //处理action之后的map，返回一个全新的map。
         mapTest(mapProps, action) {
            //mapProps包含了mapArray,robotIndex,robotDir
            //最后返回一个新的mapProps
            //用JSON.stringify(JSON.parse(object))来实现deepCopy
            let newMapProps = JSON.parse(JSON.stringify(mapProps));
            //根据不同的action调用不同函数
            if (action == 'turnLeft') {
               return turn(newMapProps, 'left')
            } else if (action == 'turnRight') {
               return turn(newMapProps, 'right')
            } else if (action == 'fullBackAndForthMovementLeft') {
               return fullBackAndForthAction(newMapProps, 'left')
            } else if (action == 'fullBackAndForthMovementRight') {
               return fullBackAndForthAction(newMapProps, 'right')
            } else {
               throw new Error('no such action:' + action)
            }
            //转弯
            function turn(newMapProps, direction) {
               let { robotDir } = newMapProps;
               if (direction == 'left') {
                  robotDir = robotDir + 1 > 3 ? 0 : robotDir + 1
                  newMapProps.robotDir = robotDir;
               } else if (direction == 'right') {
                  robotDir = robotDir - 1 < 0 ? 3 : robotDir - 1
                  newMapProps.robotDir = robotDir;
               } else {
                  throw new Error('no such direction' + direction)
               }
               return newMapProps
            }

            //直行撞击
            function straightLineAction(newMapProps) {
               let { mapArray, robotIndex, robotDir } = newMapProps;
                try{
                  //涂初始点。
                  let { xIndex, yIndex } = robotIndex;
                  mapArray[yIndex][xIndex] = 'o'
                  if (robotDir == 0 && yIndex - 1 >= 0 && mapArray[yIndex - 1][xIndex] != 'x') {
                     mapArray[yIndex - 1][xIndex] = 'o';
                     robotIndex.yIndex--;
                     return straightLineAction(newMapProps)
                  } else if (robotDir == 1 && xIndex - 1 >= 0 && mapArray[yIndex][xIndex - 1] != 'x') {
                     mapArray[yIndex][xIndex - 1] = 'o';
                     robotIndex.xIndex--;
                     return straightLineAction(newMapProps)
                  } else if (robotDir == 2 && yIndex + 1 < mapArray[0].length && mapArray[yIndex + 1][xIndex] != 'x') {
                     mapArray[yIndex + 1][xIndex] = 'o';
                     robotIndex.yIndex++;
                     return straightLineAction(newMapProps)
                  } else if (robotDir == 3 && xIndex + 1 < mapArray.length && mapArray[yIndex][xIndex + 1] != 'x') {
                     mapArray[yIndex][xIndex + 1] = 'o';
                     robotIndex.xIndex++;
                     return straightLineAction(newMapProps)
                  } else {
                     return newMapProps
                  }
               }catch(err){
                  console.log(newMapProps);
                  
                  throw new Error(err)
               }
            }

            //充分来回
            function fullBackAndForthAction(newMapProps, movingDir) {
               //跟实际行进的逻辑一样
               let updatedMapProps = straightLineAction(newMapProps);
               updatedMapProps = turn(updatedMapProps, 'left');
               updatedMapProps = turn(updatedMapProps, 'left');
               updatedMapProps = straightLineAction(newMapProps);
               updatedMapProps = turn(updatedMapProps, 'left');
               updatedMapProps = turn(updatedMapProps, 'left');
               let { mapArray, robotIndex, robotDir } = updatedMapProps;
               let { xIndex, yIndex } = robotIndex;
               let { nextX, nextY } = getNextPos(xIndex, yIndex, robotDir, movingDir)
               if (!testBlock(nextX, nextY, mapArray)) {
                  updatedMapProps.robotIndex.xIndex = nextX;
                  updatedMapProps.robotIndex.yIndex = nextY;
                  return fullBackAndForthAction(updatedMapProps, movingDir)
               } else {
                  updatedMapProps.robotIndex.xIndex = xIndex;
                  updatedMapProps.robotIndex.yIndex = yIndex;
                  return backAndForthAndClimbAction(updatedMapProps, movingDir)
               }
            }

            //充分来回及越墙爬行
            function backAndForthAndClimbAction(newMapProps, movingDir) {
               let { mapArray, robotIndex, robotDir } = newMapProps;
               let { xIndex, yIndex } = robotIndex;
               let nextFrontPos = getNextPos(xIndex, yIndex, robotDir, 'front')
               let nextDetectPos = getNextPos(xIndex, yIndex, robotDir, movingDir)
               let nextX = nextFrontPos.nextX;
               let nextY = nextFrontPos.nextY;
               let nextDetectX = nextDetectPos.nextX;
               let nextDetectY = nextDetectPos.nextY;
               let lastX, lastY; //保存上一步
               lastX = nextX;
               lastY = nextY;
               //开始爬行
               while (!testBlock(nextX, nextY, mapArray) && testBlock(nextDetectX, nextDetectY, mapArray)) {
                  //沿着墙壁方向找非墙壁的grid
                  nextFrontPos = getNextPos(nextX, nextY, robotDir, 'front');
                  lastX = nextX;
                  lastY = nextY;
                  nextX = nextFrontPos.nextX;
                  nextY = nextFrontPos.nextY;
                  nextDetectPos = getNextPos(lastX, lastY, robotDir, movingDir)
                  nextDetectX = nextDetectPos.nextX;
                  nextDetectY = nextDetectPos.nextY
               }
               if (!testBlock(nextDetectX, nextDetectY, mapArray)) {
                  newMapProps.robotIndex.xIndex = nextDetectX;
                  newMapProps.robotIndex.yIndex = nextDetectY;
                  return fullBackAndForthAction(newMapProps, movingDir)
               } else {
                  //如果是因为前方撞墙停止，则倒退一格
                  //倒退一格
                  newMapProps.robotIndex.xIndex = lastX;
                  newMapProps.robotIndex.yIndex = lastY;
                  return newMapProps
               }
            }
            //测试该障碍物
            function testBlock(x, y, map) {
               if (x >= map[0].length || y >= map.length
                  || x < 0 || y < 0 || map[y][x] == 'x') return true;
               return false
            }
            //获得当前位置下一个方向的位置
            function getNextPos(x, y, robotDir, dir) {
               switch (dir) {
                  case 'left':
                     dir = 1
                     break;
                  case 'right':
                     dir = -1
                     break;
                  case 'front':
                     dir = 0;
                     break;
               }
               let absoluteDir = dir + robotDir;
               absoluteDir = absoluteDir == -1 ? 3 : absoluteDir;
               absoluteDir = absoluteDir == 4 ? 0 : absoluteDir
               switch (absoluteDir) {
                  case 0:
                     return { nextX: x, nextY: y - 1 }
                     break;
                  case 1:
                     return { nextX: x - 1, nextY: y }
                     break;
                  case 2:
                     return { nextX: x, nextY: y + 1 }
                     break;
                  case 3:
                     return { nextX: x + 1, nextY: y }
                     break;
               }
            }
         },
         //小车的运行
         run: async function () {
            console.log(this.tasks);
            let tasks = this.tasks;
            if(tasks == null) return;
            while(tasks.length > 0){
               let task = tasks.shift();
               console.log('Execute: ' + task)
               switch (task) {
                  case 'turnLeft':
                     await this.turn('left')
                     break;
                  case 'turnRight':
                     await this.turn('right')
                     break;
                  case 'fullBackAndForthMovementLeft':
                     await this.fullBackAndForthAndClimb('left');
                     break;
                  case 'fullBackAndForthMovementRight':
                     await this.fullBackAndForthAndClimb('right');
                     break;
               }
            }
            //测试
            // let mapArray = this.map;
            // let robotIndex = { xIndex: this.robot.pos.x - 1, yIndex: this.robot.pos.y - 1 };
            // let robotDir = this.robot.dir;
            // //robotIndex.xIndex = 0;
            // //robotIndex.yIndex = 0;
            // robotDir = 1;
            // let mapProps = { mapArray, robotIndex, robotDir }
            // let newArray = this.mapTest(mapProps,'fullBackAndForthMovementRight')
            // //newArray = this.mapTest(newArray,"fullBackAndForthAndClimbLeft")
            // console.log(newArray);
            console.log('done')
         },
         //充分来回行径，靠墙后爬墙
         fullBackAndForthAndClimb(direction) {
            let flipDirection = direction == 'left' ? 'right' : 'left';
            return new Promise(async resolve => {
               await this.fullBackAndForthMovement(direction);
               while (this.detect(direction) && !this.detect('front')) {
                  await this.forward()
               }
               if (!this.detect('front')) {
                  await this.turn(direction);
                  await this.forward()
                  await this.turn(flipDirection)
                  //最后方向并没有调正，这要跟mapTest匹配
                  await this.fullBackAndForthAndClimb(direction)
               }
               resolve(true)
            })
         },
         //充分来回行径，靠墙停止
         fullBackAndForthMovement: function (direction) {
            let flipDirection = direction == 'left' ? 'right' : 'left';
            return new Promise(async resolve => {
               while (true) {
                  //开始运行
                  while (this.detect('front') == false) {
                     await this.forward()
                  }
                  await this.turnAround()
                  while (this.detect('front') == false) {
                     await this.forward()
                  }
                  await this.turn(flipDirection)
                  if (this.detect('front')) {
                     await this.turn(flipDirection);
                     break;
                  }
                  await this.forward();
                  await this.turn(flipDirection);
               }
               resolve(true)
            })
         },
         //依赖count改变的来回行径
         // basicBackAndForthMovement: function (direction) {
         //    let lastCount = 0;
         //    let currentCount = 0
         //    let flipDirection = direction == 'left'?'right':'left';
         //    return new Promise(async resolve => {
         //       //对是否结束当前行动的根据是：count是否不一样以及是不是靠墙了
         //       do {
         //          //重置时间
         //          lastCount = currentCount ;
         //          currentCount = 0;
         //          //开始运行
         //          while (this.detect('front') == false) {
         //             await this.forward()
         //          }
         //          await this.turnAround()
         //          currentCount++;
         //          while (this.detect('front') == false) {
         //             //回来的时候才开始计算count
         //             currentCount++;
         //             await this.forward()
         //          }
         //          //如果下一列是墙或count不相等，则停止运行；
         //          //否则，前进一步掉头继续
         //          await this.turn(flipDirection)
         //          if(this.detect('front')){
         //             await this.turn(flipDirection);
         //             break;
         //          }else{
         //             await this.forward();
         //             await this.turn(flipDirection) ;
         //          }
         //          if(currentCount != lastCount&&lastCount != 0) break;
         //       } while (true)
         //       resolve(true)
         //    })
         // },
         //直行撞墙停止
         straightLineHitAndStop() {
            return new Promise(async resolve => {
               while (this.detect('front') == false) {
                  await this.forward()
               }
               resolve(true)
            })
         },
         //小车的动作
         turnAround() {
            //注意，trunAround不是算法里面的基础行为，因为一个turnArround有可能不能造成state改变。
            //而且turnAround只是单纯的简化代码量。
            return new Promise(async resolve => {
               await this.turn('left')
               await this.turn('left')
               resolve(true)
            })
         },
         forward() {
            let self = this;
            return new Promise((resolve) => {
               self.$emit('forward')
               setTimeout(() => {
                  resolve(true)
               }, self.moveSpeed)
            })
         },
         turn(direction) {
            let self = this;
            let dir = direction == 'left' ? 1 : -1
            return new Promise((resolve) => {
               self.$emit('turn', dir)
               setTimeout(() => {
                  resolve(true)
               }, self.moveSpeed)
            })
         },
         //监测小车前左右有没有墙
         detect(direction) {
            let dir;
            switch (direction) {
               case 'front':
                  dir = 0
                  break;
               case 'left':
                  dir = 1;
                  break;
               case 'right':
                  dir = -1;
                  break;
            }
            this.$emit('detect', dir)
            return this.robot.lastDetected;
         },
      }
   })


   let roomMap = new Vue({
      el: '#roomMap',
      mounted: function () {
         //this.robot.pos.x = this.dimension.width;
         //this.robot.pos.y = this.dimension.height
         //return this.moveRoomba()
      },
      data: {
         //地图的长宽
         dimension: {
            width: 15,
            height: 15,
            gridWidth: 20
         },
         //障碍物的位置
         //障碍物位置是从1开始的，第0行是序列行
         blocks: [
            {
               from: { x: 1, y: 1 },
               to: { x: 3, y: 4 }
            },
            {
               from:{x:8,y:1},
               to:{x:15,y:1}
            },
            {
               from:{x:10,y:2},
               to:{x:14,y:2}
            },
            [14,3],[14,4],
            {
               from:{x:10,y:5},
               to:{x:13,y:5}
            },
            [10,6],[3,10],[4,10],[5,10],[5,11],[5,12],[6,12],[6,13],[7,13],
            [8,12],[8,13],[10,11],[11,11],[12,11],[13,13],[12,12],[12,13]
            
            
         ],
         //小车的属性
         //位置从1开始算
         robot: {
            pos: {
               x: 15,
               y: 15
            },
            //top:0 left:1 bottom:2 right:3
            dir: 0,
            //上一次对墙的监测情况
            lastDetected: false
         },
         cleanedGrid: [],
         mode: 'running'
      },
      computed: {
         //算出所有block的点
         blockPos: function () {
            let posGroup = [];
            let blocks = this.blocks
            for (let block of blocks) {
               if (block.from != null) {
                  //这部分用于大面积设置初始block
                  let higherY = block.from.y > block.to.y ? block.from.y : block.to.y;
                  let lowerY = higherY == block.to.y ? block.from.y : block.to.y;
                  let higherX = block.from.x > block.to.x ? block.from.x : block.to.x;
                  let lowerX = higherX == block.to.x ? block.from.x : block.to.x;
                  for (let y = lowerY; y <= higherY; y++) {
                     for (let x = lowerX; x <= higherX; x++) {
                        if (x == 0 || y == 0) continue;
                        posGroup.push({ x: x, y: y })
                     }
                  }
               } else {
                  posGroup.push(block)
               }
            }
            return posGroup
         },
         //返回包含每行grid的array
         map: function () {
            let map = []
            for (let y = 1; y < this.dimension.height + 1; y++) {
               let row = [];
               for (let x = 1; x < this.dimension.width + 1; x++) {
                  if (this.blockPos.some(pos => pos.x == x && pos.y == y)) {
                     row.push('x')
                  } else {
                     row.push('.')
                  }
               }
               map.push(row)
            }
            return map
         },
         robotPosOnRender() {
            let x = this.dimension.gridWidth * this.robot.pos.x - 5;
            let y = this.dimension.gridWidth * this.robot.pos.y - 1;
            //改变位置
            return `top:${y}px;left:${x}px`
         },
      },
      methods: {
         //算出每个block的属性
         gridClass: function (x, y) {
            let className = ""
            let block = this.blockPos.some(pos => pos.x == x && pos.y == y);
            if (block) {
               className += 'block '
            } else if (x == 0 || y == 0) {
               className += "gridNo "
            } else {
               className += 'grid '
            }
            return className
         },
         //已被清洁的点
         cleanedGridStyle(x, y) {
            if (this.cleanedGrid.some(pos => pos.x == x && pos.y == y))
               return "background-color:#70F1FF;border-color:#70F1FF;"
         },
         //计算序列行
         gridContent: function (x, y) {
            if (x == 0 && y == 0) {
               //处理序列
               return null
            } else if (x == 0) {
               return y;
            } else if (y == 0) {
               return x;
            } else {
               return null
            }
         },
         //小车前进后位置同步
         forward() {
            let pos = this.robot.pos;
            let { x, y } = pos;
            if (!this.cleanedGrid.some(c => c.x == x && c.y == y)) {
               this.cleanedGrid.push({ x: x, y: y })
            }
            switch (Math.abs(this.robot.dir % 4)) {
               case 0:
                  //遇到障碍物及墙壁不能前行。
                  if (pos.y - 1 >= 1
                     && !this.blockPos.some(bPos => pos.x == bPos.x && pos.y - 1 == bPos.y))
                     pos.y--;
                  break;
               case 2:
                  if (pos.y + 1 <= this.dimension.height
                     && !this.blockPos.some(bPos => pos.x == bPos.x && pos.y + 1 == bPos.y))
                     pos.y++;
                  break;
               case 1:
                  if (pos.x - 1 >= 1
                     && !this.blockPos.some(bPos => pos.x - 1 == bPos.x && pos.y == bPos.y))
                     pos.x--;
                  break;
               case 3:
                  if (pos.x + 1 <= this.dimension.width
                     && !this.blockPos.some(bPos => pos.x + 1 == bPos.x && pos.y == bPos.y))
                     pos.x++;
                  break;
            }
            if (x == pos.x && y == pos.y)
               console.log(`hit at ${x},${y}`)
            //this.moveRoomba()
            return;
         },
         //小车旋转后方向同步
         turn(event) {
            let dir = this.robot.dir
            dir += event;
            if (dir == 4) {
               this.robot.dir = 0
            } else if (dir == -1) {
               this.robot.dir = 3
            } else {
               this.robot.dir = dir
            }
            return;
         },
         //监测障碍物
         detected(event) {
            let { x, y } = this.robot.pos;
            let dir = this.robot.dir + event;
            //0 上边， 1 左边 , 2 下边， 3 右边
            dir = dir == 4 ? 0 : dir;
            dir = dir == -1 ? 3 : dir;
            switch (dir) {
               case (0):
                  this.detectBlock(x, y - 1)
                  break;
               case 1:
                  this.detectBlock(x - 1, y)
                  break;
               case 2:
                  this.detectBlock(x, y + 1)
                  break;
               case (3):
                  this.detectBlock(x + 1, y)
                  break;
            }
         },
         //测试（x，y）处是否有障碍物
         detectBlock(x, y) {
            if (x > this.dimension.width || x < 1 ||
               y > this.dimension.height || y < 1 ||
               this.blockPos.some(bPos => x == bPos.x && y == bPos.y)) {
               this.robot.lastDetected = true;
               return;
            } else {
               this.robot.lastDetected = false
               return;
            }
         },
         //每个grid的key
         gridKey(x, y) {
            return `${x}-${y}`
         },
         //切换障碍物
         toggleBlock() {
            if (event.buttons == 0 || this.mode == 'running') return

            let [_, x, y] = /(\d{1,2})-(\d{1,2})/.exec(event.target.id);
            if (!this.blocks.some(pos => pos.x == x && pos.y == y) && x != 0 && y != 0) {
               this.blocks.push({ x: x, y: y })
            }
         },
         //清楚格式
         cleanAllPos() {
            this.blocks = [];
            this.cleanedGrid = []
         },
         //开启running mode的时候把robot放置右下角
         toggleMode() {
            this.mode = this.mode == 'editing' ? 'running' : 'editing';
            if (this.mode == 'running') {
               this.robot.pos.x = this.dimension.width;
               this.robot.pos.y = this.dimension.height
               this.robot.dir = 0;
               //return this.moveRoomba()
            }
         }
      }
   })

</script>

</html>